In [4]:
# Task 5
## Import Data
import pandas as pd

df = pd.read_csv('data/hotels-vienna.csv')
print(df.head())

   country city_actual  rating_count center1label center2label neighbourhood  \
0  Austria      Vienna          36.0  City centre    Donauturm   17. Hernals
1  Austria      Vienna         189.0  City centre    Donauturm   17. Hernals
2  Austria      Vienna          53.0  City centre    Donauturm    Alsergrund
3  Austria      Vienna          55.0  City centre    Donauturm    Alsergrund
4  Austria      Vienna          33.0  City centre    Donauturm    Alsergrund

   price    city  stars  ratingta  ...     offer_cat  year  month  weekend  \
0     81  Vienna    4.0       4.5  ...  15-50% offer  2017     11        0
1     81  Vienna    4.0       3.5  ...   1-15% offer  2017     11        0
2     85  Vienna    4.0       3.5  ...  15-50% offer  2017     11        0
3     83  Vienna    3.0       4.0  ...  15-50% offer  2017     11        0
4     82  Vienna    4.0       3.5  ...  15-50% offer  2017     11        0

  holiday  distance  distance_alter  accommodation_type  nnights  rating
0       0       2.7             4.4           Apartment        1     4.4
1       0       1.7             3.8               Hotel        1     3.9
2       0       1.4             2.5               Hotel        1     3.7
3       0       1.7             2.5               Hotel        1     4.0
4       0       1.2             2.8               Hotel        1     3.9

[5 rows x 24 columns]

In [6]:
## Check Variable Types
print(df.dtypes)

country                object
city_actual            object
rating_count          float64
center1label           object
center2label           object
neighbourhood          object
price                   int64
city                   object
stars                 float64
ratingta              float64
ratingta_count        float64
scarce_room             int64
hotel_id                int64
offer                   int64
offer_cat              object
year                    int64
month                   int64
weekend                 int64
holiday                 int64
distance              float64
distance_alter        float64
accommodation_type     object
nnights                 int64
rating                float64
dtype: object

In [8]:
## Check Errors
print(df.isnull().sum())

country                 0
city_actual             0
rating_count           35
center1label            0
center2label            0
neighbourhood           0
price                   0
city                    0
stars                   0
ratingta              103
ratingta_count        103
scarce_room             0
hotel_id                0
offer                   0
offer_cat               0
year                    0
month                   0
weekend                 0
holiday                 0
distance                0
distance_alter          0
accommodation_type      0
nnights                 0
rating                 35
dtype: int64

In [10]:
## Delete data inclusing missing values
df_cleaned = df.dropna()
print(df_cleaned)

     country city_actual  rating_count center1label center2label  \
0    Austria      Vienna          36.0  City centre    Donauturm
1    Austria      Vienna         189.0  City centre    Donauturm
2    Austria      Vienna          53.0  City centre    Donauturm
3    Austria      Vienna          55.0  City centre    Donauturm
4    Austria      Vienna          33.0  City centre    Donauturm
..       ...         ...           ...          ...          ...
422  Austria      Vienna          53.0  City centre    Donauturm
423  Austria      Vienna           2.0  City centre    Donauturm
424  Austria      Vienna         145.0  City centre    Donauturm
425  Austria      Vienna         112.0  City centre    Donauturm
426  Austria      Vienna         169.0  City centre    Donauturm

    neighbourhood  price    city  stars  ratingta  ...      offer_cat  year  \
0     17. Hernals     81  Vienna    4.0       4.5  ...   15-50% offer  2017
1     17. Hernals     81  Vienna    4.0       3.5  ...    1-15% offer  2017
2      Alsergrund     85  Vienna    4.0       3.5  ...   15-50% offer  2017
3      Alsergrund     83  Vienna    3.0       4.0  ...   15-50% offer  2017
4      Alsergrund     82  Vienna    4.0       3.5  ...   15-50% offer  2017
..            ...    ...     ...    ...       ...  ...            ...   ...
422        Wieden     73  Vienna    3.0       3.0  ...    1-15% offer  2017
423        Wieden    109  Vienna    3.0       3.0  ...  50%-75% offer  2017
424        Wieden    185  Vienna    5.0       4.0  ...   15-50% offer  2017
425        Wieden    100  Vienna    4.0       4.5  ...    0% no offer  2017
426        Wieden     58  Vienna    3.0       3.0  ...   15-50% offer  2017

     month  weekend holiday  distance  distance_alter  accommodation_type  \
0       11        0       0       2.7             4.4           Apartment
1       11        0       0       1.7             3.8               Hotel
2       11        0       0       1.4             2.5               Hotel
3       11        0       0       1.7             2.5               Hotel
4       11        0       0       1.2             2.8               Hotel
..     ...      ...     ...       ...             ...                 ...
422     11        0       0       1.5             4.0               Hotel
423     11        0       0       1.5             3.8           Apartment
424     11        0       0       0.8             3.6               Hotel
425     11        0       0       1.0             3.7               Hotel
426     11        0       0       1.4             4.1               Hotel

     nnights  rating
0          1     4.4
1          1     3.9
2          1     3.7
3          1     4.0
4          1     3.9
..       ...     ...
422        1     3.4
423        1     5.0
424        1     4.3
425        1     4.4
426        1     3.2

[322 rows x 24 columns]

In [12]:
# Task 2
for i, value in enumerate(df['neighbourhood']):
    df.at[i, 'neighbourhood'] = re.sub(r'^\d+\.\s*', '', value)

NameError: name 're' is not defined